# Importing Dependencies

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv('diabetes.csv')
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [6]:
df['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

# Dividing the data and the label

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
x=df.drop(columns='Outcome',axis=1)
x

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [9]:
y=df['Outcome']
y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

# Data Standardization

In [18]:
from sklearn.preprocessing import StandardScaler

In [20]:
scaler=StandardScaler()
scaler.fit(x)

StandardScaler()

In [22]:
Standardized_data=scaler.transform(x)
Standardized_data

array([[ 0.63994726,  0.84832379,  0.14964075, ...,  0.20401277,
         0.46849198,  1.4259954 ],
       [-0.84488505, -1.12339636, -0.16054575, ..., -0.68442195,
        -0.36506078, -0.19067191],
       [ 1.23388019,  1.94372388, -0.26394125, ..., -1.10325546,
         0.60439732, -0.10558415],
       ...,
       [ 0.3429808 ,  0.00330087,  0.14964075, ..., -0.73518964,
        -0.68519336, -0.27575966],
       [-0.84488505,  0.1597866 , -0.47073225, ..., -0.24020459,
        -0.37110101,  1.17073215],
       [-0.84488505, -0.8730192 ,  0.04624525, ..., -0.20212881,
        -0.47378505, -0.87137393]])

In [23]:
x=Standardized_data
y=df['Outcome']

# Training and testing the data

In [38]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,stratify=y,random_state=40)

In [39]:
print(x.shape,x_train.shape,x_test.shape)

(768, 8) (614, 8) (154, 8)

# Training the Model

In [40]:
from sklearn import svm
from sklearn.svm import SVC
classifier=SVC(kernel='linear')
classifier.fit(x_train,y_train)

SVC(kernel='linear')

# Model Evaluation

In [41]:
from sklearn.metrics import accuracy_score

In [42]:
#Accuracy on training dataset
x_train_prediction=classifier.predict(x_train)
x_training_accuracy=accuracy_score(x_train_prediction,y_train)
print("Accuracy score of the training dataset:",x_training_accuracy)

Accuracy score of the training dataset: 0.7833876221498371

In [43]:
#Accuracy on testing dataset
x_test_prediction=classifier.predict(x_test)
x_testing_accuracy=accuracy_score(x_test_prediction,y_test)
print("Accuracy score of the testing dataset:",x_testing_accuracy)

Accuracy score of the testing dataset: 0.7467532467532467

# Making a predictive system

In [47]:
input_data=(6,148,72,35,0,33.6,0.627,50)

input_data_as_numpy_array=np.array(input_data)

input_data_reshaped=input_data_as_numpy_array.reshape(1,-1)

std_data=scaler.transform(input_data_reshaped)
print(std_data)
prediction=classifier.predict(input_data_reshaped)

print(prediction)

if (prediction[0]==1):
    print("The person is diabetic")
else:
    print("The person is not diabetic")

[[ 0.63994726  0.84832379  0.14964075  0.90726993 -0.69289057  0.20401277
   0.46849198  1.4259954 ]]
[1]
The person is diabetic

C:\Users\kakul\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(